<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="client/layouts/base :: layout">
<div th:fragment="content">
  <div class="container">
    <div class="row">
      <!-- start: main content -->
      <div class="col-lg-8">
        <div th:each="category : ${categories}">
          <h3 th:text="${category.name}">Tên Category</h3>
          <ul>
            <li th:each="topic : ${category.topics}">
              <a th:href="@{/topics/{id}(id=${topic.id})}" th:text="${topic.title}">Tên Topic</a>
              (<span th:text="${topic.replyCount}">0</span> replies)
            </li>
          </ul>
        </div>
      </div>
      <!-- end: main content -->
      <!-- start: sidebar -->
      <div class="col-lg-4">
        <div>
          <h4>Trending Posts</h4>
          <ul th:each="p : ${trendingPosts}">
            <li><a th:href="@{/posts/{id}(id=${p.id})}" th:text="${p.title}">...</a></li>
          </ul>
        </div>
        <div>
          <h4>Latest Posts</h4>
          <ul th:each="p : ${latestPosts}">
            <li><a th:href="@{/posts/{id}(id=${p.id})}" th:text="${p.title}">...</a></li>
          </ul>
        </div>
        <div>
          <h4>Posts từ @followers</h4>
          <ul th:each="p : ${followedPosts}">
            <li><a th:href="@{/posts/{id}(id=${p.id})}" th:text="${p.title}">...</a></li>
          </ul>
        </div>
      </div>
      <!-- end: sidebar -->
    </div>
  </div>
</div>
</html>